<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="Partials/_PageHead" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <partial name="Partials/_PageHader" />

    <partial name="Partials/_PageHero"/>

    @RenderBody()

    <partial name="Partials/_PageFooter"/>

    <partial name="Partials/_PageScripts"/>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>